@{
    ViewBag.Title = "About";
}
<h2 class="logoHead"><a href="https://eagleeyewebmvc20200909094613.azurewebsites.net/"><img src="~/EagleEyeLogo.png" alt="Eagle Eye" width="250" , height="190" /></a></h2>

<h2>About Eagle Eye</h2>
<p>This project is the product of a final assigment given by Eleven Fifty Academy in order to test each student's capacity to learn and utilize 
    software engineering concepts, C# software language, .Net framework, and the MVC design pattern.</p>
<hr />
<h3>&#10038 Mission &#10038;</h3>

<p>
    Eagle Eye is an asp.net MVC application created with the singular purpose of helping others who may be,
    are in danger of being, or have been a victim of human trafficking.
    This application is not limited to any kind of people, but rather all-inclusive and welcomed for use by anyone.
    Eagle Eye is a way for us to protect each other through the use of technology and personal awareness.
</p>
