@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Eagle Eye is an asp.net MVC application created with the singular purpose of helping others who may be, 
    are in danger of being, or have been a victim of human trafficking. 
    This application is not limited to any kind of people, but rather all-inclusive and welcomed for use by anyone. 
    Eagle Eye is a way for us to protect each other through the use of technology and personal awareness.</p>
