@{
    ViewBag.Title = "Contact";
}
<h2 class="logoHead"><a href="https://eagleeyewebmvc20200909094613.azurewebsites.net/"><img src="~/EagleEyeLogo.png" alt="Eagle Eye" width="250" , height="190" /></a></h2>
<h2>--Contact Info--</h2>
<address>
    Somewhere in the U.S.<br />
    Random Rd, US. 44444-1111<br />
    <abbr title="Phone">P:</abbr>
    928-244-6488
</address>
<address>
    <strong>Created By:</strong>   <p style="color: black;">Austin Hooker</p>
    <strong>Email:</strong> <p style="color:black;">austintrent@icloud.com</p>
</address>