@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <img src="~/EagleEyeLogo.png" alt="Eagle Eye" width="250" , height="220" class="logoJumbo" />
        <p class="lead">Eagle Eye is a free web application created to give everyone the ability to protect one another from possible threats of human trafficking.</p>
        <p class="lead">If you wish to know more about this issue, click the "Resources" button found under the "Learn More" section.</p>
        <p class="mission"><a href="https://eagleeyewebmvc20200909094613.azurewebsites.net/Home/About" class="btn btn-primary btn-lg">&#10038 Mission &#10038;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2><b>Report Situation Here</b></h2>
        <h2 class="reportArr">&#8595 &#8595 &#8595;</h2>

        <p class="report"><a class="btn btn-default" href="https://eagleeyewebmvc20200909094613.azurewebsites.net/Incident/Create"> &#10038 Report an Incident &#10038;</a></p>
        <p>
            If you have witnessed a crime, contact the police IMMEDIATELY. This application is not meant to be a place to report a crime. Eagle Eye is a way for us to report uncomfortable, strange, or potentially dangerous situations.
            The intent of this application is to gather data that will help us understand the how, where, and who is involved in human trafficking. No information is too small, thank you for your help.
        </p>
        <p class="report"><a class="btn btn-default" href="https://eagleeyewebmvc20200909094613.azurewebsites.net/Incident/Create"> &#10038 Report an Incident &#10038;</a></p>
        <h2 class="reportArr">&#8593 &#8593 &#8593;</h2>

    </div>
    <div class="col-md-4">
        <h2><b>Learn More</b></h2>
        <p>Thank you for visiting this page, if you wish to know more about this issue, click the "Resources" button below.</p>
        <p class="resources"><a class="btn btn-default" href="https://www.unodc.org/unodc/en/human-trafficking/global-report-on-trafficking-in-persons.html">&#10038 Resources &#10038;</a></p>
    </div>
</div>